<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844709904696-1qierf03qdaq1dcelcp26knbkaaa2ocj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844709904696-1qierf03qdaq1dcelcp26knbkaaa2ocj</string>
	<key>API_KEY</key>
	<string>AIzaSyB9AEUh5kdhnh8fy4Ec8rg1pVpU5nspX6k</string>
	<key>GCM_SENDER_ID</key>
	<string>844709904696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebase</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-dqd891996</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-dqd891996.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844709904696:ios:4261dd7f769339aaebc1cd</string>
</dict>
</plist>